.questionContainer {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
}

.answerContainer {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 150px;
  justify-content: space-around;
  padding: 10px;
  width: 200px;
}

.incorrect {
  background-color: red;
}

.correct {
  background-color: green;
}

.one {
  order: 0;
}

.two {
  order: 1;
}

.three {
  order: 2;
}

.four {
  order: 3;
}
